In [1]:
import pandas as pd
#pandas ayuda a manipular y analizar datos de manera eficiente

# Crear un DataFrame
datos = {'nombre': ['Ana', 'Luis', 'Carlos', 'Marta'],
         'edad': [28, 34, 29, 42],
         'salario': [3500, 4200, 3900, 5000]}
df = pd.DataFrame(datos)
print("DataFrame:\n", df)

DataFrame:
    nombre  edad  salario
0     Ana    28     3500
1    Luis    34     4200
2  Carlos    29     3900
3   Marta    42     5000

In [2]:
#Leer datos desde un archivo CSV (suponiendo que 'datos.csv' existe)
# df_csv = pd.read_csv('datos.csv')
# print("Datos desde CSV:\n", df_csv)
print(df.head())

   nombre  edad  salario
0     Ana    28     3500
1    Luis    34     4200
2  Carlos    29     3900
3   Marta    42     5000

In [4]:
print(df.describe()) #muestra el dataframe estadÃ­stico y descriptivo

            edad      salario
count   4.000000     4.000000
mean   33.250000  4150.000000
std     6.396614   635.085296
min    28.000000  3500.000000
25%    28.750000  3800.000000
50%    31.500000  4050.000000
75%    36.000000  4400.000000
max    42.000000  5000.000000

In [5]:
df.fillna(0, inplace=True) #rellena los valores nulos con 0
filtered_df = df[df['edad'] > 30] #filtra las filas donde la edad es mayor a 30
print("Filtrado por edad > 30:\n", filtered_df)

Filtrado por edad > 30:
   nombre  edad  salario
1   Luis    34     4200
3  Marta    42     5000